{
  "globals": {
    "$": true,
    "chrome": true,
    "jQuery": true,
    "log": true,
    "debug": true,
    "warn": true,
    "Model": true
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "off",
    "no-shadow": "warn",
    "eqeqeq": "warn",
    "no-var": "warn",
    "prefer-arrow-callback" : "warn",
    "prefer-const": "warn",
    "no-const-assign": "warn",
    "no-trailing-spaces": "warn",
    "strict": "warn",
    "no-unused-vars": "warn"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended"
}