.tabs-lord-icon {
	background-size: contain;
	width: 12px;
	height: 12px;
	display: inline-block;
	opacity:0.15;
}

.tabs-lord-icon-close {
	background-image: url("/images/close.png");
	margin-left: 6px;
	margin-top: -2px;
	vertical-align: middle;
	text-align: center;
}

.tabs-lord-icon:hover, .tabs-lord-icon:focus, .tabs-lord-icon:active {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
  opacity:1;
}

#sidebar-nodes-container {
	margin-top: 20px;
	padding-bottom: 10px;
}

.sidebar-search-box {
	position: fixed;
	width: 350px;
	top: 0;
	z-index: 1;
	height: auto;
}

.sidebar-tab-node, .sidebar-window-node, .sidebar-tabs-list, .sidebar-nodes-container-list {
	white-space: nowrap;
	display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    width: 100%;
}

.sidebar-window-anchor {
	width: 100%;
	background-color: #A0A0A0;
}

.sidebar-tab-icon {
	background-size: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.sidebar-tab-anchor:focus, .sidebar-window-anchor:focus {
  outline: 0;
}

.sidebar-tab-anchor, .sidebar-tab-anchor:link, .sidebar-tab-anchor:visited, .sidebar-tab-anchor:hover, .sidebar-tab-anchor:active {
    text-decoration: none;
    color: inherit;
}

.sidebar-tab-anchor, .sidebar-window-anchor {
	text-decoration: none;
	color: inherit;

    display: inline-block;
    white-space: nowrap;
    padding: 0 4px 0 1px;
    margin: 0;
    vertical-align: top;
    max-width: 290px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar-tab-duplicate {
    background-color: #FFE0E0;
}

.sidebar-tab-selected {
	background: linear-gradient(to bottom, #beebff 0%, #a8e4ff 100%);
}