body {
	margin: 4px;
	display: flex;
	flex-direction: column;
}

#sidebar-top-panel {
	position: fixed;
	z-index: 100;
	width: 100%;
}

#sidebar-search-box {
	display: table-cell;
	top: 0;
	width: 100%;
}

#sidebar-search-box td {
	padding 0;
}

#sidebar-reset-search-button {
	display: block;
	background-size: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
    background-image: url("/images/reset-search.png");
}

span#sidebar-reset-search-button.sidebar-reset-search-button-active {
	opacity: 1;
}

span#sidebar-reset-search-button:not(.sidebar-reset-search-button-active) {
	opacity: 0.2;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#sidebar-nodes-container {
	margin-top: 30px;
	padding-bottom: 10px;
}

.sidebar-windows-list, .sidebar-window-node, .sidebar-tabs-list, .sidebar-tab-node, .sidebar-context-menu-items-list {
	white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.sidebar-windows-list, .sidebar-window-node, .sidebar-tabs-list, .sidebar-context-menu-items-list {
	display: flex;
	flex-direction: column;
}

.sidebar-window-header, .sidebar-tab-node {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sidebar-window-icon {
	background-size: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.sidebar-window-icon:hover, .sidebar-window-icon:focus, .sidebar-window-icon:active {
    opacity:1;
}

.sidebar-window-node-expanded .sidebar-window-icon-expand-collapse {
	background-image: url("/images/chevron-down.png");
}

.sidebar-window-node-collapsed .sidebar-window-icon-expand-collapse {
	background-image: url("/images/chevron-right.png");
}

.sidebar-window-node-collapsed .sidebar-tabs-list {
    display: none;
}

.sidebar-window-anchor {
    font-weight: bold;
    padding-left: 6px;
}

.sidebar-window-anchor-edit-mode {
	display: none;
}

.sidebar-window-icon-edit {
	background-image: url("/images/edit.png");
	float: right;
	opacity: 0.5;
	margin-left: auto;
}

.sidebar-window-icon-sleep-wake {
    background-image: url("/images/sleep.png");
	float: right;
	opacity: 0.5;
}

.sidebar-window-hibernated .sidebar-window-icon-sleep-wake {
    background-image: url("/images/wake.png");
	float: right;
	opacity: 0.5;
}

.sidebar-tab-node {
    line-height: 20px;
}

.sidebar-tab-favicon {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
    flex-shrink: 0;
    align-self: center;
}

.sidebar-tab-icon {
	background-size: contain;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	align-self: center;
	flex-shrink: 0;
}

.sidebar-tab-anchor, .sidebar-window-anchor, .sidebar-context-menu-item-anchor {
	text-decoration: none;
	color: inherit;
    white-space: nowrap;
    padding: 0px 4px 0px 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar-tab-anchor:focus, .sidebar-window-anchor:focus {
    outline: 0;
}

.sidebar-tab-anchor, .sidebar-tab-anchor:link, .sidebar-tab-anchor:visited, .sidebar-tab-anchor:hover, .sidebar-tab-anchor:active {
    text-decoration: none;
    color: inherit;
}

.sidebar-tab-icon-close {
	background-image: url("/images/close.png");
	opacity: 0.15;
	margin-left: auto;
}

.sidebar-tab-icon-audible {
	background-image: url("/images/audio.png");
	margin-left: 2px;
	margin-right: 2px;
}

.sidebar-tab-icon-close:hover, .sidebar-tab-icon-close:focus, .sidebar-tab-icon-close:active {
	-webkit-transform: scale(1.3) translateZ(0);
	transform: scale(1.3) translateZ(0);
	opacity:1;
}


.sidebar-context-menu-item-anchor {
    display: block;
    overflow: hidden;
    position: static;
    width: 100%;
}

.sidebar-tab-duplicate {
    background-color: #FFE0E0;
}

.sidebar-tab-selected {
	background-color: #a8e4ff;
}

.sidebar-tab-search-match {
    font-style: italic;
    color: #8b0000;
    font-weight: bold;
}

.sidebar-tab-hidden, .sidebar-window-hidden {
    display: none;
}

.sidebar-tab-row, .sidebar-window-row {
	width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 20px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: -1;
}

.sidebar-window-row {
	background-color: #FFD800;
	height: 24px;
}

.sidebar-window-hibernated .sidebar-window-row {
	background-color: #A0A0A0;
}

.sidebar-tab-snoozed .sidebar-tab-anchor {
	color: #C0C0C0;
	font-style: italic;
}

.sidebar-tab-snoozed .sidebar-tab-favicon {
	opacity: 0.4;
}

.sidebar-context-menu {
  margin: 0;
  padding: 2px;
  position: absolute;
  background: #f5f5f5;
  border: 1px solid #979797;
  box-shadow: 2px 2px 2px #999999;
  left: 0;
  right: 0;
}

.sidebar-context-menu-item-separator {
  border-top: #CCC solid 1px;
  min-height: 3px;
}

.sidebar-context-menu-item-dangerous {
	color: red;
}

.sidebar-context-menu-item-anchor:hover {
	font-weight: bold;
}

input.sidebar-window-title-edit {
	width: 200px;
	vertical-align: top;
}
