.sidebar-tab-icon {
	background-size: contain;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-top: 3px;
	vertical-align: top;
}

.sidebar-tab-icon-close {
	background-image: url("/images/close.png");
	opacity:0.15;
	float: right;
}

.sidebar-tab-icon-audible {
	background-image: url("/images/audio.png");
	margin-left: 2px;
	margin-right: 2px;
}

.sidebar-tab-icon-close:hover, .sidebar-tab-icon-close:focus, .sidebar-tab-icon-close:active {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
  opacity:1;
}

#sidebar-nodes-container {
	margin-top: 25px;
	padding-bottom: 10px;
}

#sidebar-search-box {
	position: fixed;
	width: 340px;
	top: 0;
	z-index: 1;
	height: auto;
}

.sidebar-tab-node, .sidebar-window-node, .sidebar-tabs-list, .sidebar-nodes-container-list, .sidebar-context-menu-items-list {
	white-space: nowrap;
	display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.sidebar-window-node {
	min-height: 24px;
    line-height: 24px;
    min-width: 24px;
}

.sidebar-window-icon {
	position: relative;
	display: inline-block;
	background-size: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.sidebar-window-icon:hover, .sidebar-window-icon:focus, .sidebar-window-icon:active {
    opacity:1;
}

.sidebar-window-node-expanded > .sidebar-window-icon-expand-collapse {
	background-image: url("/images/chevron-down.png");
}

.sidebar-window-node-collapsed > .sidebar-window-icon-expand-collapse {
	background-image: url("/images/chevron-right.png");
}

.sidebar-window-node-collapsed > .sidebar-tabs-list {
    display: none;
}

.sidebar-window-icon-edit {
	background-image: url("/images/edit.png");
	float: right;
	opacity: 0.5;
}

.sidebar-window-icon-sleep-wake {
    background-image: url("/images/sleep.png");
	float: right;
	opacity: 0.5;
}

.sidebar-window-hibernated .sidebar-window-icon-sleep-wake {
    background-image: url("/images/wake.png");
	float: right;
	opacity: 0.5;
}

.sidebar-tab-node {
	min-height: 18px;
    line-height: 18px;
    /*margin-left: 18px;*/
    min-width: 18px;
}

.sidebar-tab-favicon {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
    position: relative;
    margin-top: 1px;
}

.sidebar-tab-anchor:focus, .sidebar-window-anchor:focus {
  outline: 0;
}

.sidebar-tab-anchor, .sidebar-tab-anchor:link, .sidebar-tab-anchor:visited, .sidebar-tab-anchor:hover, .sidebar-tab-anchor:active {
    text-decoration: none;
    color: inherit;
}

.sidebar-tab-anchor, .sidebar-window-anchor, .sidebar-context-menu-item-anchor {
	text-decoration: none;
	color: inherit;
    display: inline-block;
    white-space: nowrap;
    padding: 0 4px 0 1px;
    margin: 0;
    vertical-align: top;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.sidebar-window-anchor {
    font-weight: bold;
    padding-left: 6px;
}

.sidebar-tab-duplicate {
    background-color: #FFE0E0;
}

.sidebar-tab-selected {
	/*background: linear-gradient(to bottom, #beebff 0%, #a8e4ff 100%);*/
	background-color: #a8e4ff;
}

.sidebar-tab-search-match {
    font-style: italic;
    color: #8b0000;
    font-weight: bold;
}

.sidebar-tab-hidden, .sidebar-window-hidden {
    display: none;
}

.sidebar-tab-row, .sidebar-window-row {
	width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 18px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: -1;
}

.sidebar-window-row {
	background-color: #FFD800;
	height: 24px;
}

.sidebar-window-hibernated .sidebar-window-row {
	background-color: #A0A0A0;
}

.sidebar-tab-snoozed .sidebar-tab-anchor {
	color: #C0C0C0;
	font-style: italic;
}

.sidebar-tab-snoozed .sidebar-tab-favicon {
	opacity: 0.4;
}

.sidebar-context-menu {
  margin: 0;
  padding: 2px;
  position: absolute;
  background: #f5f5f5;
  border: 1px solid #979797;
  box-shadow: 2px 2px 2px #999999;
}

.sidebar-context-menu-item-separator {
  border-top: #CCC solid 1px;
  min-height: 3px;
}

.sidebar-context-menu-item-dangerous {
	color: red;
}

.sidebar-context-menu-item-anchor:hover {
	font-weight: bold;
}

input.sidebar-window-title-edit {
	width: 200px;
	vertical-align: top;
}

#sidebar-reset-search-button {
	position: fixed;
	top: 0;
	left: 350px;
	display: inline-block;
	background-size: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
    background-image: url("/images/reset-search.png");
}

span#sidebar-reset-search-button.sidebar-reset-search-button-active {
	opacity: 1;
}

span#sidebar-reset-search-button:not(.sidebar-reset-search-button-active) {
	opacity: 0.2;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }